tugas-routing-rest-api/node_modules/
tugas-framework-express/node_modules/
tugas-ts/node_modules/
latihan/latihan-2/node_modules/
latihan/latihan-3/node_modules/
tugas-middleware-express/node_modules/
tugas-middleware-express/.env
tugas-mongodb/.env
tugas-mongodb/node_modules
tugas-mongoose-odm/node_modules